{{ '{{' }} config(materialized='incremental') {{ '}}' }}

WITH base_query AS (
    SELECT
        query_id
        , query_start_time
        , user_name
        , direct_objects_accessed
        , base_objects_accessed
        , objects_modified
    FROM {{ '{{' }} source('snowflake_account_usage', 'access_history') {{ '}}' }}
    WHERE YEAR(query_start_time) >= YEAR(CURRENT_DATE) - 4
)

SELECT
    query_id
    , query_start_time
    , user_name
    , direct_objects_accessed
    , base_objects_accessed
    , objects_modified
FROM base_query

{{ '{' }}% if is_incremental() %{{ '}' }}
    WHERE query_start_time > (
        SELECT COALESCE(MAX(query_start_time), date '1970-01-01')
        FROM {{ '{{' }} this {{ '}}' }}
    )
{{ '{' }}% endif %{{ '}' }}

ORDER BY query_start_time asc
