{% raw %}{%{% endraw %} snapshot {{ src_tbl_name }}_snapshot {% raw %}%}{% endraw %}

{% raw %}{{{% endraw %}
    config(
        target_database='{{ snowflake_src_db }}_{{ env }}',
        target_schema='snapshot',
        unique_key='{{ primary_key }}',

        strategy='timestamp',
        updated_at='{{ updated_at_field }}',
        -- invalidate_hard_deletes is an opt-in feature to enable invalidating hard deleted records while snapshotting the query.
        invalidate_hard_deletes=True
    )
{% raw %}}}{% endraw %}

SELECT *
FROM {% raw %}{{{% endraw %} source('{{ source_name }}', '{{ src_tbl_name }}') {% raw %}}}{% endraw %}
LIMIT 5

{% raw %}{%{% endraw %} endsnapshot {% raw %}%}{% endraw %}
