dbt_svc_profile:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: wesfarmersaac.ap-southeast-2
      role: R_F_AIRFLOW_{{ ENV }}

      user: {{ DBT_SNOWFLAKE_USER }}
      private_key_path: /secrets/snowflake

      database: AAC_{{ ENV }}
      warehouse: WH_SVC_AIRFLOW_XS_{{ ENV }}
      schema: cleaned
      threads: 200
