{% raw %}{{{% endraw %}
    config(
        materialized='incremental'
    )
{% raw %}}}{% endraw %}

SELECT *
FROM {% raw %}{{{% endraw %} ref('{{ src_tbl_name }}_snapshot') {% raw %}}}{% endraw %}

{% raw %}{%{% endraw %} if is_incremental() {% raw %}%}{% endraw %}

  -- this filter will only be applied on an incremental run
  where {{ updated_at }} > (SELECT MAX({{ updated_at }}) FROM {% raw %}{{{% endraw %} this {% raw %}}}{% endraw %})

{% raw %}{%{% endraw %} endif {% raw %}%}{% endraw %}
