{% raw %}{%{% endraw %} snapshot {{ src_tbl_name }}_snapshot {% raw %}%}{% endraw %}

{% raw %}{{{% endraw %}
    config(
        target_database='{{ snowflake_src_db }}',
        target_schema='snapshot',
        unique_key='{{ primary_key }}',

        strategy='timestamp',
        updated_at='{{ updated_at }}',
        invalidate_hard_deletes=True
    )
{% raw %}}}{% endraw %}

-- note: 'invalidate_hard_deletes' is a dbt opt-in feature to enable invalidating hard deleted records, when performing the snapshot query.

SELECT *
FROM {% raw %}{{{% endraw %} source('{{ source_name }}', '{{ src_tbl_name }}') {% raw %}}}{% endraw %}
LIMIT 5

{% raw %}{%{% endraw %} endsnapshot {% raw %}%}{% endraw %}
