.DS_Store
__pycache__/
logs/

dbt_ofw/
dbt_bun/
dbt_cat/
dbt_tgt/
dbt_kmt/

op/ofw/incremental/*.sql
op/ofw/snapshots/*.sql
op/dbt/incremental/*.sql
op/dbt/snapshots/*.sql
op/cat/incremental/*.sql
op/cat/snapshots/*.sql
op/kmt/incremental/*.sql
op/kmt/snapshots/*.sql
op/tgt/incremental/*.sql
op/tgt/snapshots/*.sql
